$c-background: white;
$c-blue: #028CFE;
$c-white: white;
$c-green: #0BC477;
$c-purple: #7246DC;
$c-black: #333333;

// Transitions

$t-std-duration: 0.3s;
$t-std-delay: 0s;
$t-std-easing: cubic-bezier(0.165, 0.84, 0.44, 1);
