.PageHeader {
    background: $c-blue;
    padding-top: 2em;

    &__logo {
        height: 5em;
    }

    &__siggraph {
        position: relative;
        padding: 1em;
        border-radius: 0.3em;

        img {
            position: relative;
            height: 3em;
        }

        font-family: Montserrat;
        color: $c-black;

        div {
            color: $c-blue;
            position: relative;
            margin-left: 1em;
            max-width: 17em;
        }

        &:before {
            content: '';
            background: $c-white;
            @include position(absolute, 0 null null 0);
            @include size(100% 100%);
            border-radius: 0.3em;
            opacity: 0.95;
        }
    }

    @media (max-width: 600px) {
        .wrap {
            @include flex-direction(column-reverse);
            @include align-items(center);
        }

        &__siggraph {
            display: none;
            margin-bottom: 1em;
        }

        padding-top: 1em;
    }
}
