.PageFooter {
    background: $c-blue;
    color: white;
    padding: 1em 0;

    &__logo {
        width: 7em;
        margin-bottom: 0.5em;
    }

    a, a:visited {
        color: white;
    }

    &__contacts {
        font-size: 1.2em;
        font-family: Montserrat;

        a+a {
            margin-top: 0.5em;
        }
    }
}
